In [29]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [36]:
dframe_wine = pd.read_csv('C:/Users/jaysh/winequality_red.csv',sep=';')

In [39]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [40]:

dframe_wine['alcohol'].mean()

10.422983114446502

In [41]:
wino = dframe_wine.groupby('quality')

In [42]:
wino

In [43]:
wino.describe()

        alcohol                                                          \
          count       mean       std  min     25%     50%     75%   max
quality
3          10.0   9.955000  0.818009  8.4   9.725   9.925  10.575  11.0
4          53.0  10.265094  0.934776  9.0   9.600  10.000  11.000  13.1
5         681.0   9.899706  0.736521  8.5   9.400   9.700  10.200  14.9
6         638.0  10.629519  1.049639  8.4   9.800  10.500  11.300  14.0
7         199.0  11.465913  0.961933  9.2  10.800  11.500  12.100  14.0
8          18.0  12.094444  1.224011  9.8  11.325  12.150  12.875  14.0

        chlorides            ...   total sulfur dioxide         \
            count      mean  ...                    75%    max
quality                      ...
3            10.0  0.122500  ...                   42.5   49.0
4            53.0  0.090679  ...                   49.0  119.0
5           681.0  0.092736  ...                   84.0  155.0
6           638.0  0.084956  ...                   54.0  165.0
7           199.0  0.076588  ...                   43.0  289.0
8            18.0  0.068444  ...                   43.0   88.0

        volatile acidity                                                   \
                   count      mean       std   min     25%    50%     75%
quality
3                   10.0  0.884500  0.331256  0.44  0.6475  0.845  1.0100
4                   53.0  0.693962  0.220110  0.23  0.5300  0.670  0.8700
5                  681.0  0.577041  0.164801  0.18  0.4600  0.580  0.6700
6                  638.0  0.497484  0.160962  0.16  0.3800  0.490  0.6000
7                  199.0  0.403920  0.145224  0.12  0.3000  0.370  0.4850
8                   18.0  0.423333  0.144914  0.26  0.3350  0.370  0.4725


           max
quality
3        1.580
4        1.130
5        1.330
6        1.040
7        0.915
8        0.850

[6 rows x 88 columns]

In [44]:
wino.mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444